.task-duration {
  position: absolute;
  height: 24px;
  display: flex;

  .task-duration__interval {
    margin-right: 8px;
    border: 1px solid;
    border-radius: 4px;

    &--blue {
      background-color: #e2ebff;
      border-color: #497cf6;
    }

    &--green {
      background-color: #cff0d6;
      border-color: #2db77b;
    }

    &--yellow {
      background-color: #fff2e0;
      border-color: #ffa530;
    }
  }

  .task-duration__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}
